html{
    scroll-behavior: smooth;
 }     
  
 * {
  padding: 0;
  margin: 0;
  font-family: Verdana;
  color: #505050 ;
  font-weight: lighter;
 }
 /* fonttien koot*/
 h1 {
   text-align:center;
   padding: 20px;
   padding-top: 100px;
   font-size: 24px;
}
 
h2{
   margin-top: 15px;
   text-align: start;
   line-height: 1.75;
   font-size: 20px;
}
h3{
   font-size: 42px;
   color: #FDEB4F;
}
 
p {
   margin: 2vh 0vh;
   text-align: left;
   line-height: 1.25;
   font-size: 16px;
} 
 /*fonttikoko tablet*/
  
 @media all and (min-width: 576px){
   h1{
      font-size: 30px;
   }
   h2{
      font-size: 24px;
   }
}
 
/* fonttikoko desktop */
 
@media all and (min-width: 1068px) {
   p{
       font-size: 18px;
   }
   h2{
       font-size: 36px
   }
   button{
       font-size: 24px;
   }
   h1{
      font-size: 36px;
   }
  
}

  
 /* mobile menu */
 nav {
    background-color: #FDEB4F;
    position: fixed;
    width: 100%;
    z-index: 1;
 }
  
 ul {
  list-style-type: none;
 }
  
 a {
    color: #505050;
    text-decoration: none;
 }
 .menu li.item:hover {
    background-color: #FFC700;
 }
 .menu li.item{
    transition: 0.5s;
 }

 .menu li{
    font-size: 16px;
    padding: 20px 25px;
 }
 .menu li a{
    display: block;
 }
 li.page {
    font-size: 16px;
    order: 2;
    margin-right:30px;
 }
 li.item.current {
    font-weight: 800;
  
 } 
  
 .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }
 .toggle{
    order: 1;
    height: 27px;
 }
 .item {
    width: 100%;
    text-align: start;
    order: 3;
    display: none;
 }
 .item.active{
    display: block;
 }
 .toggle{
    cursor: pointer;
 }
 .bars{
    background: #505050;
    display: inline-block;
    height: 2px;
    width: 27px;
    position: relative;
 }
 .bars::before,.bars::after{
    background: #505050;
    content: "";
    display: inline-block;
    height: 2px;
    width: 27px;
    position: absolute;
 }
 .bars::before{
    top: 7px;
 }
 .bars::after{
    top: -7px;
 }
  
 /* tablet menu*/
 @media all and (min-width: 576px){
    .logo{
        flex: 1;
    }
    .toggle{
        order: 2;
    } 
 }
  
 /* desktop menu*/
 @media all and (min-width: 768px){
    .item{
        display: block;
        width: auto;
        order: 1;
    }
    .logo{
        order: 0;
    }
    .toggle{
        display: none;
    }
    .page{
        display: none;
    }
    .menu li{
        padding: 20px 10px;
    }
    .menu {
        justify-content: space-evenly;
    }
 }
  
 /*video ja otsikko mobiili*/ 
 .videootsikko{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
 }
 iframe{
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin: 1vh 0vh;
 }
 button.videonappi{
    align-items: center;
 }

/* video tablet*/
@media all and (min-width: 576px){

}
 
/* video desktop*/
@media all and (min-width: 768px){
   iframe{
         display: block;
         width: 80vw;
         height: 50vw;
   }
   .videootsikko button{
      display: none;
   }
}
  
 /*kuvat mobile */
 div.kuva{
   display: flex;
   margin: 5vw;
   align-content: center;
   justify-content: center;
   order: -1;
 }
 img {
    width: 80vw;
    height: 50vw;
    object-fit: cover;
    border-radius: 55px;
    align-self: center;
 }

 /*kuvat desktop*/
 @media all and (min-width: 768px){
   img{
      width: 40vw;
      height: 40vw;
      max-height: 500px;
   }
   div.kuva{
      order: unset;
   }
}
 
/* valkoinen / keltainen tausta tekstille */
 div.teksti{
   display: flex;
   margin: 5vw;
   justify-content: center;
   flex-direction: column;
 }
 div.valkoinen, div.keltainen {
   display: flex;
   flex-direction: column;
   margin: 3vh 0vh;
 }
 div.valkoinen{
   background-color: white;
 }

 div.keltainen{
   background-color: #FDEB4F;
 }

/* tablet taustat */
 @media all and (min-width: 576px){

 }
/* desktop taustat */
 @media all and (min-width: 768px){
   div.keltainen, div.valkoinen{
      flex-direction: row;
   }
 }

 /* nappielementti mobile*/

 .elementcontainer1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
  
 .nappielementti{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 }
 .nappielementti h2{
     text-align: start;
     padding: 5px 20px;
 }
 .nappielementti p{
    text-align: start;
    padding: 5px 20px;
 }
 button{
     background-color: #FDEB4F;
     width: fit-content;
     padding: 15px;
     border: none;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     border-radius: 20px;
     align-self: center;
     transition: 0.5s;
     margin-top: 5vh;
     font-size: 18px;
 }
 button:hover, .keltainen button:hover{
     background-color: #FFC700;
 }
 .keltainen button{
   background-color: #FFFAD3;
}
  
 /* nappielementti tablet */
  
 @media all and (min-width: 576px){ 
    .elementcontainer1{
        flex-direction: row;
    }
 }

 /* nappielementti desktop */
  
 @media all and (min-width: 768px) {
    .nappielementti{
        max-width: 35%;
    }
    .teksti .nappielementti{
       max-width: 100%;
    }
    .elementcontainer1{
        justify-content: space-around;
    }
 }
  
 /*footer*/
 footer p.copyright{
    text-align: center;
    font-size: 12px;
    max-width: 100%;
 }
 footer p{
    max-width: 60%;
    font-weight: lighter;
    font-size: 13px;
    padding: 2vh 4vh;
 }
 footer{
    margin-top: 8vh;
    background-color: #F6F6F6;
 }

 /*UKK kysymysten ja vastausten muotoilu*/

.kommentti{
   text-align: center;
}
 
textarea{
   resize: none;
   border-radius: 10px;
   border: 0;
   padding: 5px;
   text-align: center;
   min-width: 50%;
   min-height: 7vh;
   font-size: inherit;
}
.kysymys p, .vastaus p{
   padding: 20px;
   text-align: start;
}
.kysymysteksti {
    margin-bottom: 4vh;
}

.kysymys, .vastaus{
   width: 60%;
   padding: 0px;
   border-radius: 20px;
   margin: 7vh 0vh;
   margin-left: 5vh;
   font-size: 16px;
}
.vastaus {
   position: relative;
   right: -30%;
   background-color: #FFFAD3;
}
.kysymys{
   background-color:#FDEB4F;
}

 /*puhekuplan kolmio*/
.kysymys:after, .vastaus::after {
	content: '';
   position: relative;
   bottom: -2.5em;
	width: 0;
	height: 0;
	border-style: solid;
   border-width: 40px 40px 0 40px;
}

.vastaus::after {
   border-color:#FFFAD3 transparent transparent transparent;
   left: 70%;
}
.kysymys::after {
   border-color: #FDEB4F transparent transparent transparent;
   left: 8%;
}

/* listaus mobile */
ol{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   list-style: none; 
   counter-reset: li;
   justify-content: space-between;
}
ol li::before {
   content: counter(li); 
   color:#FDEB4F;
   font-size: 42px;
   display: inline-block; 
   margin-right: 10px;
}

ol li{
   padding: 5px;
   counter-increment: li;
}
.listaus h2{
   padding-inline-start: 10px;
   font-size: 30px;
}


/* listaus desktop */
@media all and (min-width: 768px) {
   ol li::before {
      font-size: 48px;
   }
   div.listaus{
      display: flex;
      flex-direction: row;
   }
   ol li{
      width: 47%;
   }
   .listaus h2{
      font-size: 36px;
      margin-bottom: 15px;
   }
}