html{
    scroll-behavior: smooth;
 }     
  
 * {
  padding: 0;
  margin: 0;
  font-family: Verdana;
  color: #505050 ;
  font-weight: lighter;
 }
  
 /* menu */
 nav {
    background-color: #FDEB4F;
    padding: 5px 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
 }
  
 ul {
  list-style-type: none;
 }
  
 a {
    color: #505050;
    text-decoration: none;
 }
 .menu li.item:hover {
    /*font-weight: bold ;*/
    background-color: #FFC700;
 }
  
 .menu li{
    font-size: 16px;
    padding: 15px 5px;
 }
 .menu li a{
    display: block;
 }
 li.page {
    font-size: 16px;
    order: 2;
    margin-right:30px;
 }
 li.item.current {
    font-weight: 800;
  
 }
  
 /* Mobile menu */
  
 .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }
 .toggle{
    order: 1;
    height: 27px;
 }
 .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
 }
 .item.active{
    display: block;
 }
 .toggle{
    cursor: pointer;
 }
 .bars{
    background: #505050;
    display: inline-block;
    height: 2px;
    width: 27px;
    position: relative;
 }
 .bars::before,.bars::after{
    background: #505050;
    content: "";
    display: inline-block;
    height: 2px;
    width: 27px;
    position: absolute;
 }
 .bars::before{
    top: 7px;
 }
 .bars::after{
    top: -7px;
 }
  
 /* tablet menu*/
 @media all and (min-width: 576px){
   
    .logo{
        flex: 1;
    }
    .toggle{
        order: 2;
    }
   
  
 }
  
 /* desktop menu*/
 @media all and (min-width: 768px){
    .item{
        display: block;
        width: auto;
        order: 1;
    }
    .logo{
        order: 0;
    }
    .toggle{
        display: none;
    }
    .page{
        display: none;
    }
    .menu li{
        padding: 15px 10px;
    }
    .menu {
        justify-content: space-evenly;
    }
  
  
 }
  
  
  
  
  
 iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
 }
  
 img {
    width: 85vw;
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-top: 5vh;
 }
  
 h1 {
    text-align:center;
 }
  
 h2{
    margin-top: 5vh;
    text-align: center;
 }
  
 p {
    margin-top: 5vh;
    text-align: left;
    padding: 2em;
 }
  
 footer{
    background-color: #F6F6F6;
 }
 .etuVideoJaTeksti, .UKKpalsta, .asennus, .etuOhjeetJaTietoa, .tietoaKannattavuus, .tietoaNainToimii, .tietoa10faktaa, .tosiPerhe1{
    min-height: 100vh;
    background-color: #FFFFFF;
   
 }
  
 .tosiElamanSamit, .tietoaYmparisto, .tietoaAsiantuntija, .tosiPerhe2, .linkit, .kommenttiosio{
    min-height: 100vh;
    background-color: #FDEB4F;
 }
  
 .tosiOhjeet{
    min-height: 50vh;
    background-color: #FFFFFF;
 }
  
 .linkit .nappielementti button{
    background-color: #FFFAD3;
 }
  
 .linkit .elementcontainer1 {
    flex-direction: column;
    align-items: center;
 }
  
 .kommentti{
    text-align: center;
 }
  
 textarea{
    resize: none;
    border-radius: 10px;
    text-align: center;
    min-width: 50%;
    min-height: 7vh;
    font-size: inherit;
 }
  
 .kommentti button {
    background-color: #FFFAD3;
    width: fit-content;
    padding: 15px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    align-self: center;
    transition: 1.0s;
    margin-top: 5vh;
    font-size: 18px;
 }
 /* nappielementti mobile*/
  
 .nappielementti{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 }
 .nappielementti h2{
     text-align: start;
     padding: 5px 20px;
 }
 .nappielementti p{
    text-align: start;
    padding: 5px 20px;
 }
 .nappielementti button{
     background-color: #FDEB4F;
     width: fit-content;
     padding: 15px;
     border: none;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     border-radius: 20px;
     align-self: center;
     transition: 1.0s;
     margin-top: 5vh;
     font-size: 18px;
 }
 .nappielementti button:hover{
     background-color: #FFC700;
 }
  
 .elementcontainer1{
     display: flex;
     flex-direction: column;
 }
  
 /* nappielementti tablet */
  
 @media all and (min-width: 576px){
   
    .elementcontainer1{
        flex-direction: row;
    }
   
  
 }
  
 /* nappielementti desktop */
  
 @media all and (min-width: 768px) {
    .nappielementti{
        max-width: 35%;
    }
    .elementcontainer1{
        justify-content: space-around;
    }
 }
  
 /*footer */
  
 footer p.copyright{
    text-align: center;
    font-size: 12px;
    max-width: 100%;
 }
 footer p{
    max-width: 30%;
    font-weight: lighter;
    margin-top: 1vh;
    font-size: 13px;
 }
 footer{
    margin-top: 5vh;
 }
  
 /* fonttien koot*/
  
 /*fonttikoko tablet*/
  
 @media all and (min-width: 576px){
   
  
 }
  
 /* fonttikoko desktop */
  
 @media all and (min-width: 1068px) {
    p{
        font-size: 18px;
    }
    h2{
        font-size: 36px
    }
    button{
        font-size: 24px;
    }
   
 }

 /*UKK kysymysten ja vastausten muotoilu*/

.kysymys {
    background-color: #FFFAD3;
    width: 60%;
    padding: 0px;
    border-radius: 20px;
    margin-top: 15vh;
    margin-left: 5vh;
    font-size: 18px;
}

 /*puhekuplan kolmio*/
.kysymys:after {
	content: '';
	position: relative;
	bottom: -2.5em;
    left: 8%;
	width: 0;
	height: 0;
	border: 40px solid transparent;
	border-top-color: #FFFAD3;
	border-bottom: 0;
	border-left: 0;
	margin-left:  0px;
    margin-bottom: 0px;
    z-index: 0;
}

.vastaus {
    background-color: #FFFAD3;
    width: 60%;
    position: relative;
    right: -30%;
    padding: 0px;
    border-radius: 20px;
    margin-top: 15vh;
    margin-left: 5vh;
    font-size: 18px;
}

 /*kolmio*/
.vastaus:after {
	content: '';
	position: relative;
	bottom: -2.5em;
    left: 88%;
	width: 0;
	height: 0;
	border: 40px solid transparent;
	border-top-color: #FFFAD3;
	border-bottom: 0;
	border-left: 0;
	margin-left:  0px;
    margin-bottom: 0px;
    z-index: 0;
}
